@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

<h1 class="text-info">Ocurrio un Error</h1>

@{
    if (String.IsNullOrEmpty(ViewBag.errorMessage))
    {
        if (TempData["confirmMessage"] != null)
        {
            <div class="alert alert-success">@TempData["confirmMessage"]</div>
        }
        <h2 class="text-warning">An error occurred while processing your request.</h2>

    }
    else
    {
        <h2 class="text-danger">@ViewBag.errorMessage</h2>
    }
}
