@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Atencion!!</h1>
    <h2>Pagina en Desarollo........</h2>
    <p >Entretengase viendo unos videos mientras desarollamos el sistema.</p>
    <p><a href="https://www.youtube.com" class="btn btn-primary btn-lg">Youtube &raquo;</a></p>
</div>


